<h1>Sign Up</h1>
    <form action="/users/create-user" method="post">
        <input type="email" name="email" required id="" placeholder="Email">
        <input type="password" name="password" required id="" placeholder="Password">
        <input type="password" name="cpassword" required id="" placeholder="Confirm Password">
        <input type="text" required name="name" placeholder="Name">
        <button type="submit">SIGN UP</button>
    </form>
